html,
a {
  text-decoration: none !important;
}

input {
  box-shadow: none !important;
  background-color: transparent !important;
  color: #fff !important;
}

button {
  border: none !important;
  background-color: transparent;
}

span ion-icon {
  color: #fff;
  font-size: 1.8rem;
}

.stars ion-icon {
  font-size: 1.2rem;
  color: yellow;
}

.title {
  font-family: "Carter One", cursive !important;
  /* margin-left: 7rem; */
}

.btn-warning {
  background-color: #f47521 !important;
}

.text-warning {
  color: #f47521 !important;
}

.navbar-toggler {
  box-shadow: none !important;
}

.main {
  background-color: #121212;
}

.hero {
  height: 100vh !important;
  overflow: hidden;
}

.carousel-indicators {
  margin-right: 7% !important;
}

.carousel_quotes {
  margin-right: 15% !important;
  top: 9rem;
}

.carousel_quotes button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.bg-dark {
  background: #121212 !important;
}

.navbar {
  background-color: #23252b;
}

.card {
  background-color: transparent;
  box-shadow: none;
}

.carousel-2 img {
  height: 100vh !important;
}

.hero_img_tab {
  display: none;
}

@media (max-width: 1399px) {
  .carousel-indicators {
    margin-right: 1% !important;
  }

  .carousel_quotes {
    margin-right: 15% !important;
  }
}

@media (max-width: 767.98px) {
  .nav-list {
    margin-left: 0rem !important;
    margin-top: 2rem;
  }

  .nav-btn {
    margin-top: 2rem;
  }

  .hero_img {
    display: none !important;
  }

  .hero_img_tab {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .modal-body {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .modal-content {
    padding-bottom: 0rem !important;
  }

  .description-hero br {
    display: none;
  }
}

@media (max-width: 425.98px) {
  .signUp_desc {
    display: none !important;
  }
}
